@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


*
{
    font-family: 'Baloo Bhai 2', cursive;
    border: border-box;
    margin: 0;
    padding: 0;
    border-style: none;
}

/* Header */

/* Navbar */

.border
{
    border: 2px solid transparent;
}


.border:hover
{
    border:  0.13020833333333334vw solid white;
    border-radius: 3px;
}

.navbar
{
    height: 3.90625vw;
    width: 100vw;
    background-color: #181c24;
    color: white;
    display: flex;
    justify-content: space-between;
} 


.nav-logo
{
    height: auto;
    width: 7.356770833333333vw;
    background-image: url(./Media/amazon_logo\ \(1\).png);
    background-size: cover; 
}

.nav-address
{
    height: 3.2552083333333335vw;
    width: 5.774088541666667vw;
    padding-left:  0.3255208333333333vw;
    margin: 0.13020833333333334vw;
}

.location-icon
{
    height: 2.256020942408377vh;
    width: 1.171875vw;
    display: flex;
    align-items: center;
}
 
#dt
{
    height: 1.171875vw;
    font-size: 1vw;
    color: #cccccc;
    margin-left: 16.8px;
    padding-top: 5px;
}
#india
{
    height: 1.171875vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    padding-bottom: 5px;
}

/*Search*/

.nav-search
{
    height: 2.6041666666666665vw;
    width: 43.1640625vw;
    margin: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msearch
{
    height: 2.6041666666666665vw;
    display: flex;
    align-items: center;
    background-color: #ffbc6c;
    border-radius: 5px;
}

.option
{
    height: 2.6041666666666665vw;
    width: 8.7890625vw;
    border-right: 2px #cccccc solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    text-align: justify;
    font-size: 1vw;
    padding: 7px;
}
.text
{
    padding-left: 10px;
    border-style: none;
    background-color: #f3f3f3;
    font-size: 1.2vw;
    font-weight: 500;
    height: 2.6041666666666665vw;
    width: 30.924479166666668vw;
}

.search-icon
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2.6041666666666665vw;
    width: 2.9296875vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #181c24;
}

/*Region*/

.nav-region
{
    height: 3.2552083333333335vw;
    width: 4.8828125vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.region
{
    display: flex;
    align-items: center;
    justify-content: end;
}

.region-flag
{
    height: 1.171875vw;
    width: auto;
    border-radius: 2px;
    margin-left: 10px;

}
#country-name
{
    font-size: 1.2vw;
    margin: 0 0 0 4px;
}

.region-arrow
{
    color: #a6acb3;
    margin: 0 10px 0 4px;
}

/* Sign in (&&) Retuen & Orders*/

.nav-sign
{
    display: flex;
    flex-direction: row;


}

.login
{
    margin: 5px 0 0 2px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

span
{
    font-weight: lighter;
    font-size: 1vw;
}

.dn
{
    font-size: 1.2vw;
    font-weight: 700;
}
.log-logo
{
    height: 4px;
    width: 8px;
}

/*Cart*/
.nav-cart
{
    height: 3.2552083333333335vw;
    width: 5.533854166666667vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3vw; 
    font-weight: 700;
}
.cart
{
    display: flex;
    margin: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.6041666666666665vw;
    width: 2.2786458333333335vw;

}   

.cart i
{
    font-size: 1.9vw;
}

/* Navbar Ends */

/* Panel */

.panel
{
    background-color: #222f3f;
    color: white;
    height: 2.6041666666666665vw;
    width: 99.28vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 11px;

}

.panel-all
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.all
{
    margin: 0 0 0 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tall
{   
    padding: 0 0 0 5px;
    font-weight: 600;
}
.all i
{
    font-size: 1.35vw;
}

.panel1, .panel2, .panel3, .panel4, .panel5
{
    margin: 0 10px;
    font-size: 1.2vw;
    color: white;
}

/* Header Ends */

/* Hero */


.hero {
    height: 33.2552083333333335vw;
    
}
.hero-img
{
    position: relative;
    background: url("./Media/hero_image.jpg") no-repeat ;
    background-size: cover;
    width: 100vw;
    height: 22.786458333333332vw;
    z-index: -1;
}

.hlink
{
    z-index: -1;
}

/* .leftArrow
{
    color: black;
     
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 10px;
} */

.h-text 
{
    color: black;
    width: 97.65625vw;
    background-color: #ffffff;
    position: absolute;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    justify-content: center;
    /* border-radius: 4px; */
}

.hero-text
{
    font-size:  1vw;
}

.hero-link
{
    font-size: 1.2vw;
}

/* Hero Ends */

/* Shop */

.shop
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1, .box2, .box3, .box4, .box5
{
    height: 6.510416666666667vw;
    width: 25vw;
    border: 2px solid black;
    text-align: center;
}

/* Shop Ends */

