@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


*
{
    font-family: 'Baloo Bhai 2', cursive;
    border: border-box;
    margin: 0;
    padding: 0;
    border-style: none;
}

/* Header */

/* Navbar */

.border
{
    border: 2px solid transparent;
}


.border:hover
{
    border:  0.13020833333333334vw solid white;
    border-radius: 3px;
}

.navbar
{
    height: 3.90625vw;
    width: 100vw;
    background-color: #181c24;
    color: white;
    display: flex;
    justify-content: space-between;
} 


.nav-logo
{
    height: auto;
    width: 7.356770833333333vw;
    background-image: url(./Media/amazon_logo\ \(1\).png);
    background-size: cover; 
}

.nav-address
{
    height: 3.2552083333333335vw;
    width: 5.774088541666667vw;
    padding-left:  0.3255208333333333vw;
    margin: 0.13020833333333334vw;
}

.location-icon
{
    height: 2.256020942408377vh;
    width: 1.171875vw;
    display: flex;
    align-items: center;
}
 
#dt
{
    height: 1.171875vw;
    font-size: 1vw;
    color: #cccccc;
    margin-left: 16.8px;
    padding-top: 5px;
}
#india
{
    height: 1.171875vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    margin-left: 5px;
    padding-bottom: 5px;
}

/*Search*/

.nav-search
{
    height: 2.6041666666666665vw;
    width: 43.1640625vw;
    margin: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msearch
{
    height: 2.6041666666666665vw;
    display: flex;
    align-items: center;
    background-color: #ffbc6c;
    border-radius: 5px;
}

.option
{
    height: 2.6041666666666665vw;
    width: 8.7890625vw;
    border-right: 2px #cccccc solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    text-align: justify;
    font-size: 1vw;
    padding: 7px;
}
.text
{
    padding-left: 10px;
    border-style: none;
    background-color: #f3f3f3;
    font-size: 1.2vw;
    font-weight: 500;
    height: 2.6041666666666665vw;
    width: 36.924479166666668vw;
}

.search-icon
{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2.6041666666666665vw;
    width: 2.9296875vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #181c24;
}

/*Region*/

.nav-region
{
    height: 3.2552083333333335vw;
    width: 4.8828125vw;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.region
{
    display: flex;
    align-items: center;
    justify-content: end;
}

.region-flag
{
    height: 1.171875vw;
    width: auto;
    border-radius: 2px;
    margin-left: 10px;

}
#country-name
{
    font-size: 1.2vw;
    margin: 0 0 0 4px;
}

.region-arrow
{
    color: #a6acb3;
    margin: 0 10px 0 4px;
}

/* Sign in (&&) Return & Orders*/

.nav-sign
{
    display: flex;
    flex-direction: row;


}

.login
{
    margin: 5px 0 0 2px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.nav-returns 
{
    height: 3.255vw;
    width: 5.5338vw;
    margin: 0 0 0 0;
}


.return
{
    height: 1vw;
    width: 5vw;
    font-weight: lighter;
    font-size: 1vw;
}

.dn
{
    height: 1.2vw;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 700;
    display: inline-block;
}
.log-logo
{
    height: 4px;
    width: 8px;
}

/*Cart*/
.nav-cart
{
    height: 3.2552083333333335vw;
    width: 5.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3vw; 
    font-weight: 700;
}
.cart
{
    display: flex;
    margin: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2.6041666666666665vw;
    width: 2.2786458333333335vw;

}   

.cart i
{
    font-size: 1.9vw;
}

/* Navbar Ends */

/* Panel */

.panel
{
    background-color: #222f3f;
    color: white;
    height: 2.6041666666666665vw;
    width: 99.28vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 11px;

}

.panel-all
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.all
{
    margin: 0 0 0 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tall
{   
    padding: 0 0 0 5px;
    font-weight: 600;
}
.all i
{
    font-size: 1.35vw;
}

.panel1, .panel2, .panel3, .panel4, .panel5
{
    margin: 0 10px;
    font-size: 1.2vw;
    color: white;
}

/* Header Ends */

/* Hero */


.hero {
    height: 23.2552083333333335vw;
    /* overflow: hidden; */
}
.hero-img
{
    position: relative;
    background: url("./Media/hero_image.jpg") no-repeat ;
    background-size: cover;
    width: 100vw;
    height: 35vw;
    z-index: -1;
}

.hlink
{
    z-index: -1;
}

/* .leftArrow
{
    color: black;
     
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 10px;
} */

.h-text 
{
    color: black;
    width: 97.65625vw;
    background-color: #ffffff;
    position: absolute;
    top: 25vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    justify-content: center;
    /* border-radius: 4px; */
}

.hero-text
{
    font-size:  1vw;
}

.hero-link
{
    font-size: 1.2vw;
}

/* Hero Ends */

/* Shop */

.shop
{
    position: absolute;
    z-index: 15;
    top: 30vw;
    left: 50%;
    translate: -50%;
    height: 100vh;
    width: 95.75vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0.1vw 0.4vw;
    /* border: #0055ff 1px solid; */
}

.box
{
    width: 20.833vw;    
    height: 52.083vh;
    /* border: black 1px dotted; */
    margin: 0.5vw;
    padding: 0.5vw 1vw;
    background-color: #fff;
}


.shop-text
{
    padding: 0  0.2vh;
    font-weight: 900;
    font-size: 1.6vw;
    font-weight: 600;
}

.media-1
{
    padding: 1vw 0.2vw 0 1.4vw;
    height: 20vh;
    width: 18vw;
    background-size: cover;
}

.discription
{
    padding: 0 0.2vw 0 1.4vw;
}
/* Shop Ends */

/* Footer */

.footer-main
{
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 40vw;
    background-color: #232e3f;
    color: #fff;
    z-index: 1;
    margin: 1vw 0 0 0;

}

.top-linker
{
    top: 0;
    z-index: 2;
    background-color: #37475a;
    color: #fff;
    font-weight: 700;
    font-size: 1vw;
    height: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-linker:hover
{
    background-color: rgb(79, 83, 110, 0.5);
}

.footer-content
{
    width: 100vw;
    height: 26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 4vw 0;
}

.f-links
{
    margin: 5% 12.5%;
    width: 75%;
    height: 90%;
    text-align: left !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.know-list, .money-list, .payment-list, .help-list
{
    list-style-type: none;
}

.links-footer
{
    color: rgb(255, 255, 255, 0.8);
}

.copyright
{
    text-align: center;
    display: flex;
    height: 5vw;
    align-items: center;
    justify-content: center;
    background-color: #232e3f;
    border: #cccccc 3px outset;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 90%;
}
/* Footer Ends */
